<% include ./header.ejs %>
</script>
<form>
	<fieldset>
		<legend>회원가입</legend>
		<input autocomplete="off" type="text" name="id" placeholder="아이디"><br>
		<input type="password" name="pw" placeholder="비밀번호"><br>
		<input type="password" name="repw" placeholder="비밀번호 확인">
		<button type="submit">확인</button>
	</fieldset>
</form>
<% include ./footer.ejs %>