<% include ./header.ejs %>
<form action="" method="post">
	<fieldset>
		<legend>게시글 작성</legend>
		<input type="hidden" name="action" value="insert">
		<input autocomplete="off" placeholder="제목" type="text" name="subject" required>
		<textarea autocomplete="off" placeholder="내용을 입력하세요" required name="content"></textarea>
		<button type="submit">확인</button>
	</fieldset>
</form>
<a href="/board">메인으로</a>
<% include ./footer.ejs %>